[submodule "plugins/ipynb"]
	path = plugins/ipynb
	url = git://github.com/danielfrg/pelican-ipynb.git
[submodule "plugins/pelican-bootstrapify"]
	path = plugins/pelican-bootstrapify
	url = git://github.com/ingwinlu/pelican-bootstrapify.git
[submodule "output"]
	path = output
	url = https://github.com/fsarigoz/fsarigoz.github.io.git
